.label {
  -fx-font-smoothing-type: gray;
  -fx-text-fill: #333333;
  -fx-font-weight: bold;
}

.text-field {
  -fx-font-weight: bold;
}

.text-field:disabled {
  -fx-font-smoothing-type: gray;
  -fx-opacity: 1.0;
  -fx-background-color: transparent;
}

.hyperlink {
  -fx-focus-color: transparent;
  -fx-text-fill: #0000EE;
}

.hyperlink:visited {
  -fx-focus-color: transparent;
  -fx-text-fill: #0000EE;
  -fx-underline: false;
}

.hyperlink:hover {
  -fx-underline: true;
}

#window-bar {
  -fx-background-color: #5a5255;
  -fx-text-fill: black;
}

#about-app-title {
  -fx-font: bold 50pt sans-serif;
  -fx-font-smoothing-type: gray;
  -fx-text-fill: #83559E;
}

#about-licence {
  -fx-font-weight: bold
}

#decoration-title {
  -fx-text-fill: black;
}

#exit-button {
  -fx-font-weight: bold;
  -fx-background-color: #559e83;
  -fx-background-radius: 0;
}

#exit-button:hover {
  -fx-background-color: #335e4e;
}

#exit-button:shift, #exit-button:hover:shift {
  -fx-background-color: #9E3146;
}
