.root {
/*-fx-background-color: #5a5255;*/
-fx-background-color: #EBEBEB;
}

.label {
-fx-font-smoothing-type: gray;
-fx-text-fill: #333333;
-fx-font-weight: bold;
-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.text-field {
-fx-font-weight: bold;
}
.text-field:disabled {
-fx-font-smoothing-type: gray;
-fx-opacity: 1.0;
-fx-background-color:transparent;
}

.hyperlink {
-fx-focus-color: transparent;
-fx-text-fill: #0000EE;
}

.hyperlink:visited {
-fx-focus-color: transparent;
-fx-text-fill: #0000EE;
-fx-underline: false;

}

.hyperlink:hover {
-fx-underline: true;
}

#about-app-title {
-fx-font: bold 50pt sans-serif;
-fx-font-smoothing-type: gray;
/*-fx-text-fill: linear-gradient(DarkCyan, Black);*/
-fx-text-fill: #83559E;
/*-fx-effect: dropshadow( gaussian , LightSteelBlue , 15,0.25,0,0 );*/
}

#about-licence{
-fx-font-weight : bold
}

#about-github{
/*-fx-font-weight : bold;*/
}
